<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nintendo Shop</title>
    <link rel="shortcut icon" href="/img/dragon.svg" type="image/svg"/>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,700;1,200;1,500;1,700&display=swap" rel="stylesheet">
    <link th:replace="~{layout :: link-css}">
</head>
<body>
<nav th:replace="~{layout :: header}"> </nav>
<div class="container">
    <div th:replace="~{layout :: spinner}"> </div>
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-auto">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#"><img class="w-100" src="/img/1.jpeg" alt="Image"></a>
                </div>
                <div class="carousel-item">
                    <a href="#"><img class="w-100" src="/img/2.jpeg" alt="Image"></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="container-fluid">
                <div class="site-animation">
                    <h2 style="display: flex; " class="wow fadeInUp" data-wow-delay="0.3s">
                        <hr style="border: 1px solid #ff860d; flex-grow: 1;">
                        <a href="/sanpham/updatedesc" style="margin: 0 30px; padding: 0 5px; font-size: 30px;">
                            Sản phẩm mới
                        </a>
                        <hr style="border: 1px solid #ff860d; flex-grow: 1;">
                    </h2>
                </div>
            </div>
            <div class="row g-4">
                <div th:each="sanpham : ${sanPhams}"  class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex py-5 px-4">
                        <img style="width: 200px; height: 200px;" th:src="'/img/anhgame/'+${sanpham.hinhanh}" th:alt="${sanpham.sanpham}">
                        <div class="ps-4">
                            <h6 class="mb-3" th:text="${sanpham.sanpham}"></h6>
                            <p class="proloop--price" style="ont-weight: 600; font-size: 14px; color: #e11b1e;">
                                <span class="price" th:text="'Giá: '+${sanpham.gia}+'₫'"></span>
                            </p>
                            <a class="text-secondary border-bottom" th:href="@{/sanpham/{id}(id=${sanpham.id})}">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center wow fadeInUp" data-wow-delay="0.3s">
                    <a style="color: #0066FF;" href="/sanpham/updatedesc">
                        Xem thêm sản phẩm
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
<a href="/" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa-sharp fa-solid fa-circle-up"></i></a>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/02c8afadd6.js" crossorigin="anonymous"></script>
<script th:replace="~{layout::script}"></script>
</body>
</html>