<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-
scale=1.0">
  <title>Not Found</title>
  <th:block th:replace="~{layout::link-css}"></th:block>
  <link rel="shortcut icon" href="/img/dragon.svg" type="image/svg" style="color:red"/>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="d-flex align-items-center justify-content-center vh-25">
  <div class="text-center">
    <h1 class="display-1 fw-bold">404</h1>
    <br>
    <p class="fs-3"> <span class="text-danger">Rất tiếc!</span> Không tìm thấy trang.</p>
    <br>
    <p class="lead">
      Trang bạn đang tìm kiếm có thể đã bị xóa.
    </p>
    <br>
    <a href="/" class="btn btn-primary">Back to homepage</a>
  </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/02c8afadd6.js" crossorigin="anonymous"></script>
<script th:replace="~{layout::script}"></script>
</body>
</html>