<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Nitendo</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:replace="~{layoutadmin :: link-css}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{layoutadmin :: sidebar}"> </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{layoutadmin :: header}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Nhà sản xuất</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="nhasanxuat : ${nhasanxuats}">
                            <td th:text="${nhasanxuat.id}"></td>
                            <td th:text="${nhasanxuat.nsx}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{#}">Edit</a>
                                <a class="btn btn-dark" th:href="@{#}"
                                   onclick="return confirm('Are you sure?')">Delete</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Footer -->
        <footer th:replace="~{layoutadmin :: footer}"></footer>
        <!-- End of Footer -->
        <!-- End of Main Content -->
    </div>
</div>

<!-- End of Page Wrapper -->
<script src="https://kit.fontawesome.com/02c8afadd6.js" crossorigin="anonymous"></script>
<script th:replace="~{layoutadmin::script}"></script>
</body>
</html>